h1 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 5em;
    text-transform: capitalize;
}
canvas {
    z-index: -9999;
}

.wrapup {
    width: 100%;
    height: 100%;
    z-index: 100;
    display: block;
    overflow: hidden;
    margin: 0;
    border: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}