html {
  height: 100%;
}

body {
  background: linear-gradient(-45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%, rgba(255,0,0) 100%);
  background-size: 200% 200%;
  position: relative;
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  animation: change 5s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

#resume {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
}

